PORT=5000
CLIENT_URL=http://localhost:5173,http://127.0.0.1:5173
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/checkmate
NODE_ENV=development
EMAIL_USER=mucixx31@gmail.com
EMAIL_PASS=vwne ydnl ptyo gohc
